/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* -------  Navigation ------- */
#menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */

form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
  border-style: solid;
  border-color: grey;
  border-radius: 6%;
  float: right;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* ------- About ------- */
.group {
  display: flex;
  flex-direction: column;
}

.options {
  flex: 1;
  margin: 10px;
}

.paragraph-container {
  flex: 2;
}

/*------- Ideas -------*/
#ideas img {
  width: 100%;
}

#host img {
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  header h1 {
    font-size: 48px;
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    padding: 10px;
  }

  .group {
    display: flex;
    flex-direction: row;
  }

  form label {
    display: flex;
  }

  form input,
  form select {
    float: left;
    vertical-align: bottom;
  }

  .options {
    flex: 1;
    margin: 10px;
  }

  .paragraph-container {
    flex: 2 2;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
  }
  /* Ideas Section */
  .ideas-image-group {
    display: flex;
  }

  .ideas-first-image-group {
    flex: 1;
    margin-right: 20px;
  }

  .ideas-second-image-group {
    flex: 1;
  }

  .ideas-second-image-group div,
  .ideas-first-image-group div {
    margin-bottom: 20px;
  }

  .ideas-second-image-group div:last-child,
  .ideas-first-image-group div:last-child {
    margin-bottom: 0;
  }

  /* Host Section */
  .columns {
    display: flex;
    align-items: center;
  }

  .columns .content {
    flex: 1;
  }

  .columns .image {
    flex: 1;
    margin-left: 20px;
  }
}
