/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */
#menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* ------- About ------- */
#about img {
  width: 100%;
  margin-bottom: 15px;
}

/*------- Ideas -------*/
#ideas img {
  width: 100%;
}

#host img {
  width: 100%;
}
/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-around;
  }

  .logo {
    font-size: 30px;
  }

  form fieldset div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  form label {
    width: 50%;
  }

  form input,
  form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  form button {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }

  #stay fieldset {
    display: flex;
    justify-content: space-around;
  }

  /* About */

  #about-body {
    display: flex;
    align-items: center;
  }

  #about-body img {
    width: 40%;
    padding-right: 10px;
  }

  #about-body p {
    text-align: center;
  }

  /* Ideas */

  .ideas-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }

  .ideas-image-group {
    display: flex; /* Make this container a flex container */
  }

  .ideas-first-image-group,
  .ideas-second-image-group {
    flex: 1; /* Equal width for both groups */
    margin: 0 10px; /* Add spacing between groups */
  }

  .ideas-first-image-group > div,
  .ideas-second-image-group > div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }

  .ideas-first-image-group img,
  .ideas-second-image-group img {
    width: 100%; /* Ensure images fill the available width */
  }

  /* Host */
  #host .columns {
    display: flex;
  }

  #host .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
  }

  #host .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
